<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
  <title>Emotion Classification Ravdess | Django Deep Learning API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script type="text/javascript" src="{% static 'javascript/javascript.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body style="background-color:white">
        <div class="jumbotron text-center" id="myJumbotron" style="background-color:white">
          <h2>Deep Learning to predict human emotions.</h2>
        </div>

        <div class="container" id="Container1">
          <div class="row">
            <div class="col-sm-4" id="FileUpload">
              <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload your audio file</a>
            </div>
            <div class="col-sm-4" id="makePredictions">
              <button class="btn btn-primary" onclick="makePredictions()">Make your prediction</button>
            </div>
            <div class="col-sm-4" id="PredictionsOutput">
              <h4>The emotion predicted for your file is: </h4>
            </div>
          </div>
        </div>
    </body>
{% endblock %}
</html>