<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Emotion Classification Ravdess | Django Deep Learning API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script type="text/javascript" src="{% static 'javascript/javascript.js' %}"></script>
</head>
    <body style="background-color:white">
        <div class="jumbotron text-center" id="myJumbotron" style="background-color:white">
            <h2><a href="/index/">Deep Learning to predict human emotions.</a></h2>
        </div>
        <div class="container" id="Container1">
          <div class="row">
            <div class="col-sm-4 text-center" id="FileUpload">
              <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload your audio file</a>
            </div>
            <div class="col-sm-4 text-center" id="FileDelete">
              <a href="{% url 'file_delete' %}" class="btn btn-primary">Delete a file from the server</a>
            </div>
            <div class="col-sm-4 text-center" id="makePredictions">
              <a href="{% url 'file_select' %}" class="btn btn-primary">Make your prediction</a>
            </div>
          </div>
        </div>
         <div class="jumbotron text-center" id="myJumbotron2" style="background-color:white">
             <div class="container" id="Container2">
               <div class="row">
                  <div class="col-sm-12 text-center" id="PredictionsOutput">
                  {% for pred in predictions %}
                    <h4>The emotion of the speaker in your file is: <strong>{{ pred }}</strong> </h4>
                  {% endfor %}
                  </div>
               </div>
             </div>
         </div>
         <div class="container">
             <div class="center">
              {% block content %}
              {% endblock %}
             </div>
         </div>
    </body>
</html>