{% extends "index.html" %}

{% block content %}
    <form action="/App/delete/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Please select one file at a time from the list below to delete it from the server.</p>
        <p>The list includes the files already available on the server.</p>
        {% for myfile in filename %}
          <input type="checkbox" name="file_name" value="{{ myfile }}">{{ myfile }}<br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
{% endblock %}